.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  .dashboard__right {
    flex: 1;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .dashboard__right__header {
    display: flex;
    justify-content: flex-start;
    gap: 42px;
    width: 100%;
  }
  .dashboard__right__header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
  }
  .dashboard__right__header__button {
    background-color: #f14c4c;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  .dashboard__right__header__search__list {
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .dashboard__right__header__search__result {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: auto;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .dashboard__right__header__search__result__item__name {
      font-size: 16px;
      font-weight: 500;
      padding: 12px 20px;
      color: #000;
      &:hover {
        color: #f14c4c;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}
.dashboard__right__body {
  margin-top: 150px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard__right__header__search__result__map {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 42px;
}
.dashboard__right__header__search__result__map__item {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  height: 250px;
  background-color: #f5f5f5;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  .dashboard__right__header__search__result__map__item__name {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dashboard__right__header__search__result__map__item__address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dashboard__right__header__search__result__map__item__address__button {
    background-color: #f14c4c;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}
